<!-- Footer Component -->
<div
  class="flex justify-center items-center gap-3 w-full p-3.5 z-10 relative bg-back-dark border-edge-dark text-sub-txt-dark pt-5"
>
  <!-- Fylefit Studio Logo -->
  <div>
    <span class="copyright-text text-base"> FyleFit Studio</span>
  </div>

  <!-- Copyright Information -->
  <div>
    <p id="copyright-text">
    © 2024 - All rights reserved | Designed &
      Developed with ❤️ by 
      <a
        class="underline cursor-pointer"
        target="_blank"
        [href]=""
      >
        Sourabh Takshak
      </a>
    </p>
  </div>
</div>