/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

:root {
  --bg-color-light: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  color: #158F87;
  background: #0c1116be;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.123);
}

html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100vw;
  line-height: 1.6;
}

body {
  background-color: var(--bg-color-light);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}